@import "./partials/the-header.css";
@import "./partials/the-footer.css";
@import "./popups/contacts-popup.css";

html{
  font-size: 62.5%;

  --font-family: Montserrat, sans-serif;
  --text-font-size: 1.8rem;
  --section-title-font-size: 4rem;
  --text-title-font-size: 2.8rem;
  --page-title-font-size: 7rem;

  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-grey: #828282;
  /* --faded-opacity: .6; */
  --color-accent-blue: #2FA4C9;
  --color-accent-pink: #DD345D;
  --color-accent-purple: #A768BA;

  --color-purple--dark: #76458a;
  --color-purple--darker: #633974;

  --color--blue-dark:#377E95;
  --color--blue-darker: #1F4B59;
  --popup-padding: 3.5rem;

  /* 140px при экране 1920 */
  --padding-l: calc(1rem + 130 * (100vw / 1920)); 
	/* font-size:  */

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  height: var(--color-black);
  box-sizing: border-box;

	font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);
  z-index: 0;

  
}

.visually-hidden{
  display: none !important;
}

.visually-hidden * {
  display: none !important;
}

/* 
---------------------------------------------
  TEXT
---------------------------------------------
 */
.primary-heading{
  font-size: var(--page-title-font-size);
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.secondary-heading{
  font-size: var(--section-title-font-size);
  font-weight: 600;
  line-height: 4.9rem;
}

.tertiary-heading {
  font-size: var(--text-title-font-size);
  font-weight: 500;
  line-height: 3.3rem;
}

.popup-heading{
  font-size: 4rem;
  font-weight: 400;
}

.popup-text--small{
  font-size: 2rem;
}

.basic-text {
	color: var(--color-grey);
  font-size: var(--text-font-size);
  line-height: 2.7rem;
  display: block;
  max-width: 60ch;
}

.text--small{
  font-size: 1.4rem;
	color: var(--color-grey);
}

.arrow-link{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 2rem;
  cursor: pointer;
}

.arrow-link:after{
  content: '';
  display: block;
  width: 3rem;
  height: 1rem;
}

.arrow-link--blue{
  color: var(--color-accent-blue);
}

.arrow-link--purple{
  color: var(--color-accent-purple);
}

.arrow-link--blue:after{
  background: url('../img/arrow-right.png');
}

.arrow-link--purple:after{
  background: url("../img/background/Vector 85.svg");
}

.arrow-link--purple:hover{
  color: var(--color-purple--dark);
}

.arrow-link--blue:hover{
  color: var(--color--blue-dark);
}

.arrow-link--purple:active{
  color: var(--color-purple--darker);
}

.arrow-link--blue:active{
  color: var(--color--blue-darker);
}

.white-text {
  color: var(--color-white);
}

/* 
---------------------------------------------
  CONTAINERS
---------------------------------------------
 */

.full-screen-container{
  /* height: calc(100vh - 10rem); */
}

.split-middle-flex {
  display: flex;
  min-height: 100vh;
}

.split-middle-flex>* {
  width: 50vw;
}

@media (max-width: 800px){
  .split-middle-flex {
    flex-direction: column;
  }
  
  .split-middle-flex>* {
    width: 100vw;
  }
}

.align-last-to-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-last-to-bottom:last-child{
  justify-self: end;
}

/* 
---------------------------------------------
  ELEMENTS
---------------------------------------------
 */

.logo {
	width: 6.9rem;
}

.social {
	display: flex;
	gap: 7.7rem;
  align-items: center;
}


.basic-button{
  border: none;
  padding: 2vh 0;
  cursor: pointer;
  width: 100%;
  transition: all .4s;
}

.basic-button--purple{
  background-color: var(--color-accent-purple);
}

.basic-button--purple:hover{
  background-color: var(--color-purple--dark);
}

.basic-button--purple:active{
  background-color: var(--color-purple--darker);
}

.basic-button--blue{
  background-color: var(--color-accent-blue);
}

.basic-button--blue:hover{
  background-color: var(--color-blue-dark);
}

.basic-button--blue:active{
  background-color: var(--color-blue-darker);
}

.nav-bar-column,
.mobile-nav-popup .nav-bar {
	display: flex;
	flex-direction: column;
	text-align: right;
  gap: 2rem;
}

.nav-bar-link {
	padding: 0.5rem 0;
	justify-content: space-between;
	text-decoration: none;
	color: var(--color-grey);

	background-image: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.1rem;
    transition: background-size .3s;
}

.nav-bar-link:hover,
.nav-bar-link--active {
	color: var(--color-white);
	background-size: 100% 0.1rem;
}

/* 
---------------------------------------------
  QUERIES
---------------------------------------------
 */

@media (max-width: 1000px){
  :root{
    --padding-l: 2rem;
  }
}

@media (max-width: 560px){
  :root{
    --page-title-font-size: 4rem;
  }
}

@media (max-width: 360px){
  :root{
    ---section-title-font-size: 2.8rem
  }
}