@import "./partials/the-header.css";
@import "./partials/the-footer.css";

html{
  font-size: 62.5%;

  --font-family: Montserrat, sans-serif;
  --text-font-size: 1.8rem;
  --section-title-font-size: 4rem;
  --text-title-font-size: 2.8rem;
  --page-title-font-size: 7rem;

  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-grey: #828282;
  /* --faded-opacity: .6; */
  --color-accent-blue: #2FA4C9;
  --color-accent-pink: #DD345D;
  --color-accent-purple: #A768BA;
  --color-purple--dark: #76458a;
  --color-purple--darker: #633974;

  --color--blue-dark:#377E95;
  --color--blue-darker: #1F4B59;
  --popup-padding: 3.5rem;
}
@media(max-width: 700px){

}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  height: var(--color-black);
  box-sizing: border-box;

	font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);
  z-index: 0;

  
}

.visually-hidden{
  display: none !important;
}

.visually-hidden * {
  display: none !important;
}

/* 
---------------------------------------------
  TEXT
---------------------------------------------
 */
.primary-heading{
  font-size: var(--page-title-font-size);
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.secondary-heading{
  font-size: var(--section-title-font-size);
  font-weight: 600;
  line-height: 4.9rem;
}

.tertiary-heading {
  font-size: var(--text-title-font-size);
  font-weight: 500;
  line-height: 3.3rem;
}

.popup-heading{
  font-size: 4rem;
  font-weight: 400;
}

.popup-text--small{
  font-size: 2rem;
}

.basic-text {
	color: var(--color-grey);
  font-size: var(--text-font-size);
  line-height: 2.7rem;
  display: block;
  max-width: 60ch;
}

.text--small{
  font-size: 1.4rem;
	color: var(--color-grey);
}

.link--blue{
  text-decoration: none;
  color: var(--color-accent-blue);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.link--blue:after{
  content: '';
  display: block;
  background: url('../img/arrow-right.png');
  width: 3rem;
  height: 1rem;
}

.white-text {
  color: var(--color-white);
}

/* 
---------------------------------------------
  CONTAINERS
---------------------------------------------
 */

.full-screen-container{
  /* height: calc(100vh - 10rem); */
}

.split-middle-flex {
  display: flex;
  min-height: 100vh;
}

.split-middle-flex>* {
  width: 50vw;
}

@media (max-width: 800px){
  .split-middle-flex {
    flex-direction: column;
  }
  
  .split-middle-flex>* {
    width: 100vw;
  }
}

.align-last-to-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-last-to-bottom:last-child{
  justify-self: end;
}

/* 
---------------------------------------------
  ELEMENTS
---------------------------------------------
 */

.logo {
	width: 3.6vw;
}

.social {
	display: flex;
	width: 18.9vw;
	justify-content: space-between;
  align-items: center;
}

.basic-button{
  border: none;
  padding: 2vh 0;
  cursor: pointer;
  width: 100%;
  transition: all .4s;
}

.basic-button--purple{
  background-color: var(--color-accent-purple);
}

.basic-button--purple:hover{
  background-color: var(--color-purple--dark);
}

.basic-button--purple:active{
  background-color: var(--color-purple--darker);
}

.basic-button--blue{
  background-color: var(--color-accent-blue);
}

.basic-button--blue:hover{
  background-color: var(--color-blue-dark);
}

.basic-button--blue:active{
  background-color: var(--color-blue-darker);
}

