.stages-of-dev{
    background: url('../img/background/stages-of-dev.png') 0%  50% no-repeat;
    padding: 6rem 0 18rem 0;
}

.stages-of-dev__heading{
    padding-left: 3.5vw;
    padding-bottom: 11vh;
}