.stage-of-dev{
    padding: 0 3.5vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.stage-of-dev__circle{
    width: 2.7vw;
    padding-bottom: 4.4vh;
}

.stage-of-dev h2{
    padding-bottom: 2.2vh;
}

.stages-of-dev__scroller .glider-track .stage-of-dev:nth-child(2n - 1){
    padding-top: 10rem;
}

.stages-of-dev__scroller .glider-track .stage-of-dev:nth-child(2n){
    padding-top: 18rem;
}

