.footer{
	padding: 6rem 14rem;
}

.the-footer {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-white);
	margin-bottom: 6rem;
}

.footer .logo{
	padding-bottom: 3.9rem;
}

.footer .social{
	padding: 7rem 0;;
}

.nav-bar-column {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.nav-bar-link {
	padding: 0.5rem 0;
	justify-content: space-between;
	font-size: calc(.5rem + 13 * (100vw / 1920));
	text-decoration: none;
	color: var(--color-grey);

	background-image: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.1rem;
    transition: background-size .3s;
}

.nav-bar-link:hover,
.nav-bar-link--active {
	color: var(--color-white);
	background-size: 100% 0.1rem;
}

.left-part-footer-bar {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
