<div class='submitted-popup'>
    <!-- <img class='submitted-popup__checkmark' src="{{'assets/img/checkmark.png'|theme}}" /> -->
    <div class="submitted-popup__checkmark">
        <svg id="m-check-mark" viewBox="0 0 245 173" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polyline id="checkmark" stroke="#ffffff" stroke-opacity="0.7" stroke-width="20" points="5.640625 83.7607422 83.2539062 161.663086 238.97168 6.11328125"></polyline>
            </g>
        </svg>
    </div>
    <h2 class='submitted-popup__title secondary-heading'>Сообщение отправлено!</h2>
    <p class='submitted-popup__text basic-text'>
        Наши специалисты обработуют заявку и постараются ответить вам в ближайшее время ! 
    </p>
</div>