.contact-us{
    background: 
        url('../../img/background/form-purple-left.png') 0% 10%  no-repeat,
        url('../../img/background/form-purple-middle.png')  60% 80% no-repeat
        ;
}

.contact-us__text-container{
    padding: 20vh 4vw 20vh 7vw;
}
.contact-us__text-container__email{
    text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный */
}
.contact-us__text-container__email::after{
        display: block; /*превращаем его в блочный элемент*/
        content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
        height: 1.5px; /*задаём высоту линии*/
        width: 0%; /*задаём начальную ширину элемента (линии)*/
        background-color: #ffffff; /*цвет фона элемента*/
        transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.contact-us__text-container__email:hover:after,
.contact-us__text-container__email:focus:after {
    width: 100%;
}
.contact-us__text-container__email:hover{
color:#fff;
} 
.contact-us__form{
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 1000px){
    .contact-us{
        background: 
        url('../../img/background/mobile-contact-us-bg.png') 0% 0% / cover  no-repeat;
    }

    .contact-us__text-container{
        padding-bottom: 4rem;
    }

    .contact-us__form{
        background: none;
        padding-bottom: 18rem;
    }
}


