title = "Portfolio"
url = "/portfolio"
layout = "mainTemplate"
meta_title = "Портфолио"
is_hidden = 0

[technologies]
==
{% put styles %}
    <link rel="stylesheet" href="{{'assets/css/pages/portfolio.css'|theme}}">
{% endput %}

<section class="portfolio">
    <div class='portfolio__video'>
        <video autoPlay loop muted>
            <source src="'assets/videos/testvideo.mp4' |theme}}" type="video/mp4" />
        </video>

    </div>
    <div class='portfolio__main-content'>
        <div class='portfolio__header'>
            <h1 class='primary-heading'>Наши проекты</h1>
                <p>
                    ITPRO Studio специализируется на создании продуктов для развития бизнеса, презентаций, обучающих материалов, заработка и развлечений.
                </p>
               {% set technologies = technologies.technologies %}

            <div class='tab-buttons'>
                {% for technology in technologies %}
                <!-- onClick={()=>{onCategoryChange(id)}} -->
                <!-- class={`tab-button ${isActive? 'tab-button--active' : ''}`} -->
                    <button id="{{technology.id}}" class="tab-button">
                        <img src="{{technology.technology_icon.path}}"/>
                        <span>{{ technology.title }}</span>
                    </button>
                {% endfor %}
            </div>
            </div>
            <div class='portfolio__projects'>
                {% for project in technologies[0].projects %}
                    <div class='project-card'>
                        <div class='project-card__image-container'>
                            <img class='project-card__image' src="{{project.images[0].photo|media}}" />
                            <img class='project-card__project-icon' src="{{project.project_icon.path}}" alt="" />
                        </div>
                        
                        <div class='project-card__text-container'>
                            <h3 class='tertiary-heading'>{{project.title}}</h3>
                            <div class='platform-list'>
                                <span>Платформы: </span>
                                {% for platform in project.platforms %}
                                    <img src="{{platform.platform_icon.path}}" alt='{{platform.title}}'/>
                                {% endfor %}
                            </div>
                            <p class='basic-text'>{{project.description}}</p>
                            <a class='link--blue' href={{'Project'|page}}>Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>