title = "Portfolio"
url = "/portfolio"
layout = "mainTemplate"
meta_title = "Портфолио"
is_hidden = 0

[technologies]
==
{% put styles %}
    <link rel="stylesheet" href="{{'assets/css/pages/portfolio.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/UI/tab-button.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/partials/platform-list'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/partials/project-card.css'|theme}}">
{% endput %}

<section class="portfolio">
    <div class='portfolio__video'>
        <video autoPlay loop muted>
            <source src="{{'assets/videos/testvideo.mp4' |theme}}" type="video/mp4" />
        </video>

    </div>
    <div class='portfolio__main-content'>
        <div class='portfolio__header'>
            <h1 class='primary-heading'>Наши проекты</h1>
                <p>
                    ITPRO Studio специализируется на создании продуктов для развития бизнеса, презентаций, обучающих материалов, заработка и развлечений.
                </p>
                {% set technologies = technologies.technologies %}
            <div class='tab-buttons'>
                {% for technology in technologies %}
                <!-- onClick={()=>{onCategoryChange(id)}} -->
                <!-- class={`tab-button ${isActive? 'tab-button--active' : ''}`} -->
                    <button id="{{technology.id}}" class="tab-button">
                        <img src="{{technology.technology_icon.path}}"/>
                        <span>{{ technology.title }}</span>
                    </button>
                {% endfor %}
            </div>
            </div>
            {% for technology in technologies %}
                <div class='portfolio__projects' id="{{technology.title}}">
                    {% for project in technology.projects %}
                        {% partial "ProjectCard" project=project %}
                    {% endfor %}
                </div>
            {% endfor %}
    </div>
</section>