title = "Portfolio"
url = "/portfolio"
layout = "mainTemplate"
meta_title = "Портфолио"
is_hidden = 0

[technologies]
==
{% put scripts %}
    <script src="{{'assets/js/Glider.js/glider.min.js'|theme}}"></script>
    <script src="{{'assets/js/portfolio.js'|theme}}" type="module" ></script>
{% endput %}

<section class="portfolio">
    <div class='portfolio__video'>
        <video autoPlay loop muted>
            <source src="{{'assets/videos/testvideo.mp4' |theme}}" type="video/mp4" />
        </video>

    </div>
    <div class='portfolio__main-content'>
        <div class='portfolio__header'>
            <h1 class='primary-heading'>Наши проекты</h1>
                <p>
                    ITPRO Studio специализируется на создании продуктов для развития бизнеса, презентаций, обучающих материалов, заработка и развлечений.
                </p>
                {% set technologies = technologies.technologies %}
            <div class='tab-buttons'>
                {% for technology in technologies %}
                    {% if technology.projects|length %}
                        <button id="{{technology.id}}" class="tab-button">
                            <img src="{{technology.technology_icon.path}}"/>
                            <span>{{ technology.title }}</span>
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="glider">
            {% for technology in technologies %}
                {% if technology.projects|length %}
                    <div class='portfolio__projects' id="{{technology.title}}">
                        {% for project in technology.projects %}
                            {% partial "ProjectCard" project=project %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>