title = "Project"
url = "/project/:project"
layout = "mainTemplate"
description = "Страница проекта"
is_hidden = 0

[orderform]
[testrequestform]
==
<?php
use Itpro\Projects\Models\Project;

function onStart()
{
    $projectId = $this->param('project');
    $this['project'] = Project::find($projectId);
}
?>
==

{% put scripts %}
  <script src="{{'assets/js/playVideoOnScroll.js'|theme}}"></script>
{% endput %}

<div class='project-page-wrapper'>
    <div class='project-info'>
      <div class='project-info__header'>
        <h1 class='primary-heading'>{{project.title}}</h1>
        <p class='project-description basic-text'>{{project.description}}</p>
        {% partial "PlatformList" platforms=project.platforms vrheadsets=project.vrheadsets %}
      </div>
      <div class='project-info__images'>
        {% for image in project.images %}
            {% partial 'ProjectImageCard' image=image %}          
        {% endfor %}
      </div>
    </div>
    {% if project.project_video.path %}
      <div class='project-video'>
        <video controls preload loop muted>
          <source src="{{project.project_video.path}}" type="video/mp4" />
          <p>Ваш браузер не поддерживает показ видео.</p>
      </video>
      </div>
    {% endif %}
    <section class="split-middle-flex project-page__cta">
      <div class='project-page__cta__text-container'>
          <h2 class='secondary-heading'>Свяжитесь с нами</h2>
          <p class='basic-text'>
              Проектируем промышленные симуляторы, игровой контент 
                в виртуальной и дополненной реальности. Снижаем расходы за счет автоматизации, 
                оптимизации мобильных приложений и веб-сервисов.
          </p>
      </div>
      {% component 'orderform'        
        containerClass='form'
        buttonClass='basic-button basic-button--blue' 
      %}
    </section>
    <dialog class="popup test-request-popup-wrapper" data-popup="test-request">
        <button class='x-button'>
            <img src="{{'assets/img/x-button.svg'|theme}}" alt="закрыть попап" />
        </button>
        <div class='test-request-popup'>
          <div class='test-request-popup__text'>
              <h2 class='popup-heading'>
                Вместе, мы сможем превратить идею в реальность и сделать невозможное - возможным!
              </h2>
              <span><a class='popup-text--small' href="mailto:info@itpro.moscow ">info@itpro.moscow </a></span>
          </div>
            {% component "testrequestform"
              projectId=project.id
              buttonClass="basic-button basic-button--purple"
            %}
        </div>
        {% partial 'form/FormSuccess' %}
    </dialog>
  </div>