<div class="footer">
    <div class="the-footer">
        <div class="left-part-footer-bar">
            <img src="{{'assets/img/Logo.svg'|theme}}" alt="Logo" class="logo"/>
            <p class="basic-text footer-text">
                ITPRO Studio специализируется на создании продуктов для развития <br/>
                бизнеса, презентаций, обучающих материалов, заработка и развлечений.
            </p>
            <div class="social">
                {% partial "SocialLinks" %}
            </div>
        </div>
        {% partial "NavBar" containerClass="nav-bar-column" %}
    </div>
    <p class="basic-text text--small">
        © ООО ”АЙТИПРО”, 2022 г. Все права защищены.
    </p>	
</div>