.tab-button{
    border: solid var(--color-white) 2px;
    border-radius: 2rem;
    background-color: transparent;
    height: min-content;

    padding: .7rem 2rem;
    display: flex;
    gap: 1rem;
    
    cursor: pointer;
    transition: all .4s;
}

.tab-button:hover{
    background-color: var(--color-accent-blue);
    border-color: var(--color-accent-blue);
}

.tab-button--active{
    background-color: var(--color-accent-blue);
    border-color: var(--color-accent-blue);
}