 .dev-with-ar-vr {
   display: flex;
   justify-content: space-between;
   padding: 16vh 7vw;
   min-height: 100vh;

   background: 
      url("../../img/background/Video.png") 100% 34vh / 83vw auto no-repeat,
      url("../../img/background/devVrAr_bgLight.png") 50% 0% no-repeat
   ;
}

.purple-text {
	color: #A768BA;
}

.text-with-arrow {
	display: flex;
	padding: 4rem 0 7rem 0;
}

.arrow {
	padding-left: 2.5rem;
}

@media (max-width: 1000px){
   .dev-with-ar-vr {
      flex-direction: column;
      background: 
         url("../../img/background/devVrAr_bgLight.png") 50% 0% no-repeat
      ;

      justify-content: center;
      gap: 4rem;
   }
}