.submitted-popup-wrapper{
    background: 
        url('../../img/background/submitted-background.png') 0 0 / 100% 100%,
        var(--color-black);
    min-width:  37vw !important
}

.submitted-popup{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4vh;
}

.submitted-popup--active{
    display: flex!important;
}

.submitted-popup__checkmark{
    width: min( 40vw, 21.6rem);
    padding: 8vh 0 10vh 0;
}

.submitted-popup__text{
    max-width: 45ch;
    padding-bottom: 6vh;
}

@media( max-width: 500px){
    .submitted-popup-wrapper{
        background: 
            url('../../img/background/submitted-background.png') 0 0 / 100% 100%,
            var(--color-black);
        min-width:  85vw !important
    }
}