.logo-section {
	display: flex;
	padding: 6rem 0 18rem 0;
	overflow: hidden;
	gap: 8rem;
}

.row-of-logos {
	display: flex;
	gap: 8rem;
}

.logo-section__item {
	overflow: visible;
}

@media (max-width: 360px){
	.logo-section{
		padding-bottom: 12rem;
	}
}