.logo-section{
	padding: 6rem 0rem 18rem 0rem;
	cursor: move; 
    cursor: grab;
}

.logo-section .glider-track{
	gap: 8rem;
}

@media (max-width: 360px){
	.logo-section{
		padding-bottom: 12rem;
	}
}