.our-customers {
	display: flex;
	min-height: 46rem var(--padding-l);
}

.customers-text-padding {
	padding: 4rem 0 6rem 0;
}

.customers-text-container {
	display: flex;
	flex-direction: column;
	padding: 27rem 7vw 0 7vw;
	justify-content: end;

	background: 
	url('../../img/our_customers/213123 1.png') no-repeat top left / auto 100% 
	;
}

.our-customers__img img{
	max-width: 100%;
}

@media (max-width: 1000px) {
	.our-customers__img{
		display: none;
	}
	.customers-text-container {
		width: 100vw;
	}
}