.our-customers {
	display: flex;
	min-height: 46rem;

}

.customers-text-padding {
	padding: 4rem 0 6rem 0;
}

.customers-text-container {
	display: flex;
	flex-direction: column;
	padding: 0 7vw;
	justify-content: end;

	background: 
	url('../../img/our_customers/213123 1.png') no-repeat top left / auto 100% 
	;
}
