.our-customers {
	display: flex;
	min-height: 46rem;
}

.customers-text-padding {
	padding: 4rem 0 6rem 0;
}

.background-img {
	position: absolute;
	z-index:-1;
	object-fit: cover;
	width: 100%;
	height: 46rem;
}

.customers-text-container {
	display: flex;
	flex-direction: column;
	padding: 0 14rem;
	justify-content: end;
}
