.project-card{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 6rem;
}

.project-card__image-container{
    position: relative;
}

.project-card__image{
    width: 100%;
    z-index: 0;
}

.project-card__project-icon{
    width: auto;
    position: absolute;
    bottom: 1%;
    right: .5%;
}

.project-card__text-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

@media (max-width: 1000px){
    .project-card,
    .project-info__images .project-card:nth-child(2n) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6rem;
        padding: 4rem 0;
    }

    .project-card__text-container{
        padding: 0 2rem;
    }
}

