.stages-of-dev{
    padding: 6rem 0 18rem 0;

    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);

    backdrop-filter: blur(140px);
    background: -webkit-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
    background: -moz-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
    background: linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
}

.stages-of-dev__heading{
    padding: 0 var(--padding-l) 11vh var(--padding-l);
}

.stage-of-dev{
    padding: .6rem calc(1rem + 130 * (100vw / 1920)) 0 calc(1rem + 130 * (100vw / 1920));
    min-width: 634px;
    max-width: 634px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    position: relative;
}

.stage-of-dev .basic-text {
    max-width: 354px;
}

.stage-of-dev__circle{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: rgba(255, 255, 255, .6) .6rem solid;
    margin-bottom: 4.6rem;
}

.stage-of-dev h2{
    padding-bottom: 2rem;
}

.stages-of-dev__scroller .glider-track{
    background: url('../../img/stages-of-dev-wave2.svg') -50px 0 / 1930px auto repeat-x;
    background-attachment: scroll;
}
.stage-of-dev-1 {
    margin-top: 105px;
}
.stage-of-dev-2 {
    margin-top: 50px;
}

@media screen and (max-width: 1400px) {
    .stage-of-dev-2 {
        padding-top: 20px;
    }
}
@media screen and (max-width: 568px) {
    .stage-of-dev-0,
    .stage-of-dev-1 {
        padding-top: 0;
    }
    .stage-of-dev-2 {
        padding-top: 30px;
    }
    
}



