.stages-of-dev{
	padding: 6rem 0 18rem 0;

    /* background: url('../../img/background/stages-of-dev.png') 0% 50% no-repeat; */
	background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);

	backdrop-filter: blur(140px);
	background: -webkit-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
	background: -moz-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
	background: linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
}

.stages-of-dev__heading{
    padding: 0 var(--padding-l) 11vh var(--padding-l);
}

.stage-of-dev{
    padding: .6rem var(--padding-l) 0 var(--padding-l);
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    position: relative;
}

.stage-of-dev__circle{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: rgba(255, 255, 255, .6) .6rem solid;
    margin-bottom: 4.6rem;
}

.stage-of-dev h2{
    padding-bottom: 2rem;
}
.stages-of-dev__scroller{
    background: url('../../img/stages-of-dev-wave.svg') top center / 100% auto repeat-x;

}
.stages-of-dev__scroller .stage-of-dev:nth-child(2n - 1){
}

.stages-of-dev__scroller .stage-of-dev:nth-child(2n){
    margin-top: 10rem;
}

