.stages-of-development {
	margin-top: 18rem;
	padding: 0 var(--padding-l) 19rem var(--padding-l);
	min-height: 59.5rem;
	background: rgb(0,0,0);
	background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);

	backdrop-filter: blur(140px);
	background: -webkit-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
	background: -moz-linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
	background: linear-gradient(225deg, rgb(0, 0, 0) 42%, rgb(61, 6, 85) 100%);
}

.el-container {
	display: flex;
	justify-content: space-between;


}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}

.padding-text {
	padding-top: 2rem;
}

.padding-heading {
	padding: 6rem 0;
}

.padding-tertiary-heading {
	padding: 2rem 0;
}

.ellipse {
	width: 3.4rem;
	height: 3.4rem;
	top: 0;
}