
.the-header {
	border-bottom: 1px solid var(--color-white);
	padding: 2.7rem var(--padding-l);
	display: flex;
	justify-content: space-between;
    z-index: 2;

}

.nav-bar-row {
	display: flex;
	align-items: center;
	min-width: 27vw;
	gap: 6rem;
}

