.form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 4.2vh;
}

.form__field{
    display: flex;
    flex-direction: column;
}

.form__field>*{
    min-width: 100%;
}

.form__field__error-label{
    padding-top: 1rem;
}

.form__input
{
    z-index: 1;
}

.form__select,
.form__input,
.select-styled{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px;
    color: var(--color-white);
    border-color: var(--color-grey);
    transition: all .3s;
    padding: 1.1rem;
    line-height: 0;
}

.form__input:focus,
.form__select:focus,
.select-styled:active, .select-styled.active{
    line-height: 0;
    outline: none;
    border-color: var(--color-white);
}

/* .form__select *{
    background-color: transparent;
} */

.form__input::placeholder{
    color: var(--color-grey);
    transition: all .3s;
}

.form__select{
    cursor: pointer;
}

.form__file-wrapper{
    border: dashed 1px var(--color-grey);
    display: flex;
    justify-content: center;
    padding: 4.4vh 0;
}

.form__file-wrapper.form__field--error{
    border-color: var(--color-accent-pink);
}


.form__file-wrapper,
.form__file-label-wrapper label{
    cursor: pointer;
}

.form__file-label-wrapper{
    display: flex;
}

.form__file-label-wrapper::before{
    content: '';
    display: block;
    background-color: var(--color-grey);
    -webkit-mask-image: url('../../img/upload-icon.svg');
    mask-image: url('../../img/upload-icon.svg');
    width: 2.4rem;
    height: 2.4rem;
}


.form__field--error .form__file-label-wrapper::before{
    background-color: var(--color-accent-pink) !important;
}

.form__file-label-wrapper label{
    padding-left: 2.4rem;
}

.form__file-label-wrapper #file-uploaded-label{
    display: none;
}

/* label styles for form file uploaded */
.form__file-label-wrapper.js-file-uploaded #file-uploaded-label{
    display: block;
}

.form__file-label-wrapper.js-file-uploaded #file-upload-label{
    display: none;
}

.form__file-label-wrapper.js-file-uploaded::before{
    display: none;
    /* -webkit-mask-image: url('../../img/white-checkmark.png');
    mask-image: url('../../img/white-checkmark.png'); */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-white);
}

.form__field--error,
.form__field--error:active,
.form__field--error .form__file-label-wrapper label{
    color: var(--color-accent-pink) !important;
    border-color: var(--color-accent-pink) !important;
}

.form__field--error::placeholder{
    color: var(--color-accent-pink) !important;
}


/* select */

    .form__field--select{
        z-index: 9;
    }

  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 22rem;
    height: 3.5rem;
  }
  
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "\142F";
    width: 0;
    height: 0;
    position: absolute;
    right: 5%;
    transition: transform .2s;
  }

  .select-styled:active:after, .select-styled.active:after {
      transform: scale(-1);
  }
  
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 9;
    margin: 0;
    padding: 0;
    list-style: none;
    background: radial-gradient(at bottom right, rgb(72, 50, 85), rgb(58, 44, 67), rgb(40, 40, 40) );
    background: -webkit-radial-gradient(bottom right, rgb(72, 50, 85), rgb(58, 44, 67), rgb(40, 40, 40));
  }

  .project-page__cta .select-options {
    background: radial-gradient(at bottom right, rgb(73, 108, 127), rgb(45, 57, 64), rgb(40, 40, 40) );
    background: -webkit-radial-gradient(bottom right, rgb(73, 108, 127), rgb(45, 57, 64), rgb(40, 40, 40));
  }

  .select-options li {
    margin: 0;
    color: var(--color-grey);
    padding: 12px 0;
    text-indent: 15px;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover, .select-options li.is-selected {
    color: var(--color-white);
  }

  .select-options li[rel="hide"] {
    display: none;
  }


/* для страницы проекта */
.project-page__cta__form{
    justify-content: flex-start !important;
}

@media( max-width: 800px){
    .form{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

