.mobile-nav-popup{
    left: 300% !important;
}

.mobile-nav-popup.popup--active{
    min-width: min-content !important;
    padding: 3rem 3rem 5rem 4rem;
    position: absolute;
    top: 11rem !important;
    left: 78% !important;
    transform: translate(-50%, 0) !important;

    transition: left .5s !important;
}

.mobile-nav-icon{
    display: none;
    pointer-events: none;
}

@media (max-width: 650px){
    .mobile-nav-icon{
        display: block;
        pointer-events: all;
        cursor: pointer;
        width: 5.4rem;
        transition: all .3s;
    }

    .mobile-nav-icon:hover{
        opacity: .6;
    }

    .mobile-nav-icon:active{
        opacity: 1;
    }

    .the-header .nav-bar-row{
        display: none;
        pointer-events: none;
    }

}