.test-request-popup-wrapper{
    background: url('../../img/background/contacts-popup-background.png') 0 0 / 40% 100% no-repeat,
    var(--color-black);
    max-width: 90vw;
}

.test-request-popup{
    display: grid;
    grid-template-columns: 1fr 1.6fr;
}

.test-request-popup__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.test-request-popup__text:first-child{
    justify-self: flex-start;
}

.test-request-popup__text:last-child{
    justify-self: flex-end;
}

.test-request-popup__text a{
    text-decoration: none;
}

.test-request-popup__form{
    padding-left: var(--popup-padding);
}

@media (max-width: 1000px){

    .test-request-popup-wrapper{
        background: url('../../img/background/contacts-popup-background.png') 0 0 / 100% auto no-repeat,
        var(--color-black);
    }

    .test-request-popup{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}