<div class="logo-section splide" role="group">
	<!-- logo-splider -->
	<div class="splide__track">
		<ul class="splide__list">
	{%for i in 0..10 %}
		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item splide__slide"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item splide__slide"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item splide__slide"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item splide__slide"/>
	{% endfor %}
	</ul>	
	</div>	
</div>
