<div class="logo-section logo-glider">
		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item"/>

		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item"/>

		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item"/>

		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item"/>

		<img src="{{'assets/img/logo_section/box.svg'|theme}}" alt="логотип 26КАДР" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-1.svg'|theme}}" alt="логотип Ростех" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-2.svg'|theme}}" alt="логотип Р-ФАРМ" class="logo-section__item"/>
		<img src="{{'assets/img/logo_section/box-3.svg'|theme}}" alt="логотип МГОК" class="logo-section__item"/>
</div>
