<div class={{containerClass}}>
    <a 
        class="nav-bar-link {% if this.page.id == 'AboutUs' %}nav-bar-link--active{% endif %}" 
        href="{{ 'AboutUs' |page }}"
    >
        О нас 
    </a>
    <a class="nav-bar-link {% if this.page.id == 'portfolio' %}nav-bar-link--active{% endif %}" href="{{ 'portfolio'|page }}">
        Портфолио 
    </a>
    <a class="nav-bar-link {% if this.page.id == 'ContactUs' %}nav-bar-link--active{% endif %}" href="{{ 'ContactUs'|page }}">
        Заказать
    </a>
    <!-- onClick={onOpenContactsPopup} href="#contactsPopup" -->
    <a class="nav-bar-link open-popup-btn" data-popup="contacts">Контакты</a>	
</div>


