<div class="social">
    <a href="https://vk.com/itpro_studio" target="_blank" class="social-logo"><img src="{{'assets/img/VKLogo.svg'|theme}}" alt="Ссылка на ВКонтакте" class="social-logo"/></a>
    <a href="https://www.youtube.com/channel/UC7wV081v3Cqv6knHKzaRAwQ" target="_blank" class="social-logo"><img src="{{'assets/img/YouTubeLogo.svg'|theme}}" alt="Ссылка на Youtube канал" class="social-logo"/></a>
    <a href="https://t.me/+U_kqMN6Tw3o3ZGEy" target="_blank" class="social-logo"><img src="{{'assets/img/telegramLogo.svg'|theme}}" alt="Ссылка на Телеграм канал" class="social-logo"/></a>
</div>