{% set stages = [
	{ 
		title: 'Начало работы',
		description: 'Отслеживаем и транслируем процесс реализации
		с помощью большого количества доступных
		инструментов - от рабочей группы в мессенджере,
		до рабочих канбан досок и доступа в наши
		репозитории.'
	},
	{ 
		title: 'Предлагаем решение',
		description: 'Основываясь на нашем опыте предлагаем самую лучшую концепцию и техническое решение на
		дальнейшее расмотрение.'
	},
	{ 
		title: 'Дорожная карта',
		description: 'Выделяем майлстоуны, и критерии оценки этих
		майлстоунов. Так, заказчик до начала проекта 
		знает график проекта и этапность.'
	},
] %}

<div class="stages-of-dev">
	<h2 class="stages-of-dev__heading secondary-heading">
		Этапы разработки
	</h2>
	<div class="stages-of-dev__scroller glider">
		{% for stage in stages %}
				<div class="stage-of-dev">
					<div class="stage-of-dev__circle"></div>
					<h2 class="tertiary-heading">
						{{stage.title}}
					</h2>
					<p class="basic-text padding-text">
						{{stage.description}}
					</p>					
				</div>
		{% endfor %}

	</div>
</div>