{% set stages = [
	{ 
		title: 'Формируем идею',
		description: 'Связываемся с вами и набрасываем концепт вашего
		приложения.'
	},
	{ 
		title: 'Составляем документацию',
		description: 'На основе концепта составляем документ со всеми
		требованиями к разрабатываемому проекту.'
	},
	{ 
		title: 'Утверждаем проект',
		description: 'Утверждаем с вами техническое задание и договариваемся о
		сроках предоставления прототипа и готового продукта.'
	},
	{ 
		title: 'Показываем прототип',
		description: 'Создаем базовую часть проекта, чтобы вы смогли попробовать и
		оценить реализацию вашей идеи..'
	},
	{ 
		title: 'Предлагаем решение',
		description: 'Основываясь на нашем опыте предлагаем самую лучшую концепцию и техническое решение на
		дальнейшее расмотрение.'
	},
	{ 
		title: 'Разрабатываем приложение',
		description: 'На основе вашей оценки прототипа мы разрабатываем конечный
		продукт.'
	},
	{ 
		title: 'Предоставляем результат',
		description: 'Мы презентуем вам разработанное инновационное решение
		основанное на вашей идеи..'
	},
	{ 
		title: 'Что дальше?',
		description: 'После окончания разработки, мы всегда готовы помочь вам с любыми вопросами. Если у вас возникнут проблемы с работой приложения, просто свяжитесь с нами!.'
	},
] %}

<div class="stages-of-dev">
	<h2 class="stages-of-dev__heading secondary-heading">
		Этапы разработки
	</h2>
	<div class="stages-of-dev__scroller stages-of-dev-glider">
		{% for index, stage in stages %}
				<div class="stage-of-dev stage-of-dev-{{index}}">
					<div class="stage-of-dev__circle"></div>
					<h2 class="tertiary-heading">
						{{stage.title}}
					</h2>
					<p class="basic-text padding-text">
						{{stage.description}}
					</p>					
				</div>
		{% endfor %}

	</div>
</div>