<div class="footer">
    <div class="the-footer">
        <img src="{{'assets/img/Logo.svg'|theme}}" alt="Logo" class="logo"/>
        <p class="basic-text footer-text">
            ITPRO Studio специализируется на создании продуктов для развития <br/>
            бизнеса, презентаций, обучающих материалов, заработка и развлечений.
        </p>
        {% partial "NavBar" containerClass="nav-bar-column" %}
        {% partial "SocialLinks" %}
    </div>
    <p class="basic-text text--small">
        © ООО ”АЙТИПРО”, 2022 г. Все права защищены.
    </p>	
</div>