description = "Основной шаблон с хедером и футером"
==
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>ITPRO</title>
    <link rel="stylesheet" href="{{ [
        'assets/css/index.css',
        'assets/css/UI/popup.css',
        'assets/css/popups/mobile-nav.css'
      ]|theme }}">
    {% styles %}
  </head>
  <body>
      {% partial "TheHeader" %}
      <dialog class="popup mobile-nav-popup" data-popup="mobile-nav">
        {% partial "Navbar" containerClass="nav-bar-column" %}
      </dialog>
      <dialog class="popup contacts-popup" data-popup="contacts">
          <button class='x-button'>
              <img src="{{'assets/img/x-button.svg'|theme}}" alt="закрыть попап" />
          </button>
          {% partial "popups/ContactsPopup" %}
      </dialog>
    <main>
      <div class='page-overlay'></div>
        {% page %}
    </main>
    {% partial "TheFooter" %}
    <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
    {% framework extras %}
    <script src="{{ [
      'assets/js/Popup.js'
    ]|theme }}"></script>
    {% scripts %}
  </body>
</html>