description = "Основной шаблон с хедером и футером"
==
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/img/favicons/apple-touch-icon.png'|theme}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/img/favicons/favicon-32x32.png'|theme}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/img/favicons/favicon-16x16.png'|theme}}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{'assets/img/favicons/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>ITPRO</title>
    <meta name="description" content="ITPRO Studio специализируется на создании продуктов для развития бизнеса, презентаций, обучающих материалов, заработка и развлечений.">
    <meta name="keywords" content="VR, AR, 360, разработка, вирутальная реальность, ВР, АР">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ [
      'assets/js/Glider.js/glider.min.css',
      'assets/js/splide-4.0.1/dist/css/splide-core.min.css',
      'assets/dist/css/combined.css'
      ]|theme }}">
    {% styles %}
  </head>
  <body>
      {% partial "TheHeader" %}
      <div class="mobile-nav" id="mobile-nav">
        {% partial "Navbar" containerClass="nav-bar-column" %}
        {% partial "SocialLinks" %}
      </div>
      <dialog class="popup contacts-popup" data-popup="contacts">
          <button class='x-button'>
              <img src="{{'assets/img/x-button.svg'|theme}}" alt="закрыть попап" />
          </button>
          {% partial "popups/ContactsPopup" %}
      </dialog>
    <main>
      <div class='page-overlay'></div>
        {% page %}
    </main>
    {% partial "TheFooter" %}
    <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
    {% framework extras %}
    <script src="{{ [
      'assets/js/Popup.js',
      'assets/js/mobileNav.js'
    ]|theme }}"></script>
    {% scripts %}
  </body>
</html>